*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .dol{
  align-self: center;
  font-family: 'Noto Sans Buhid', sans-serif;
}*/
.l{
  display: flex;
}

a{
  text-decoration: none;
  align-self: center;
  color: white;
  margin-left: 0.5rem;
}
.output{
  font-size: 1.9rem;
}
a:hover{
  color: greenyellow;
}
li{
  border-style: none;
}

.dol {
  align-self: center;
}

.l input {
  margin-left: 0.5rem;
}


img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.error {
  color: red
}
  body{
  background-color: black;
  color: white;
  font-size: 2rem;
}

input {
  background-color: black;
  color: white;
  font-size: 2rem;
  width: 100%;
  outline: none;
  border: 0;
  caret-color: green;
  font-family: inherit;
  margin-left: 0.4rem;
}

.whoami {
  display: flex;
  gap: 2rem;
} 

.desc{
  font-size: 1.5rem;
  width: 75%;
  align-self: center;
  font-family: monospace;
  text-shadow:
      0 0 20px #0fa,
      0 0 40px #0fa,
      0 0 70px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa;
}

.home{
  display: flex;
}

.home span{
  align-self: center;
  margin-left: 0.5rem;
}





.output li {
  padding: 0.4rem;
}
